<template name="home">
    <div align="center">
        <input id="card_number" type="text" placeholder="卡号"><br/>
        <input id="exp_month" type="text" placeholder="MM"><br/>
        <input id="exp_year" type="text" placeholder="YY"><br/>
        <input id="cvc" type="text" placeholder="CVC"><br/>
        <input id="amount" type="text" placeholder="金额"><br/>
        <input id="confirm" type="button" value="确定">
    </div>
</template>